@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Righteous&display=swap");

:root {
  --blanc: #f1f9f8;
  --barreheader: rgba(145, 145, 145, 0.5);
  --texte: #1c141f;
  --texteblanc: #f1f9f8;
  --btnbackground: rgb(255, 255, 255);
  --active: rgba(112, 112, 112, 1);
  --survol: rgba(138, 138, 138, 0.5);
  --ul: rgba(112, 112, 112, 0.205);

  transition: all 0.5s ease-in-out;
}

body {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

html {
  background-color: var(--blanc);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fredoka", serif;
  font-weight: 400;
  text-decoration: none;
  color: var(--blanc);
}

#background-video {
  position: absolute;
  width: 100%;
  z-index: -1;
  filter: brightness(70%);
  height: 100vh;
  object-fit: cover;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  z-index: 1;
}

.barreheader {
  width: 660px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  background: rgba(241, 249, 248, 0.5);
  backdrop-filter: blur(10px);
  height: 60px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  animation: reveal 0.5s ease-in-out forwards;
  transition: background 0.3s ease;
}

.barreheader2 {
  background: rgba(145, 145, 145, 0.5);
}

h1 {
  border-left: solid 3px white;
  margin: 0 15%;
  padding: 0 20px;
  color: var(--texteblanc);
  font-size: 3rem;
}

h1 span {
  color: var(--texteblanc);
}

.ici {
  color: var(--texteblanc);
  border-bottom: solid 2px #f1f9f8;
  transition: border-style 0.3s ease-in-out;
}

.ici:hover {
  border-bottom: solid 3px #55646c;
}

h2 {
  color: var(--texte);
  font-size: 3rem;
  margin-top: 100px;
  margin-bottom: 20px;
}

h3 {
  color: var(--texte);
  font-size: 2rem;
  border-bottom: solid 1px var(--texte);
  margin-bottom: 10px;
}

h4 {
  color: var(--texte);
  font-size: 3rem;
  margin-top: 120px;
  margin-bottom: 70px;
}

p {
  color: var(--texte);
  font-size: 1.3rem;
}

nav {
  display: flex;
  align-items: center;
  margin-left: 25px;
  width: 560px;
  height: 100%;
}

ul {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
  background-color: var(--ul);
  border-radius: 50px;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 100%;
  width: 150px;
  transition: transform 0.3s ease-in-out;
  background-color: transparent;
}

.barreheader label {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.fa-moon {
  font-size: 2rem;
  transition: transform 0.5s ease;
  color: var(--texteblanc);
}

.hautdepage {
  display: flex;
  align-items: center;
  height: 100vh;
}

#Apropos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--texteblanc);
  background-color: transparent;
}

.active {
  background-color: var(--active);
  border-radius: 50px;
  height: 100%;
}

.fa-moon:hover {
  transform: rotate(-15deg);
  cursor: pointer;
}

.fa-sun {
  display: none;
  color: var(--texteblanc);
  font-size: 2rem;
  transition: transform 0.3s ease-in-out;
}

.fa-sun:hover {
  transform: rotate(15deg);
  cursor: pointer;
}

.survol {
  position: absolute;
  background-color: var(--survol);
  border-radius: 50px;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s, left 0.3s ease;
  pointer-events: none;
}

.carouseldesc {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 50px;
  gap: 20px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 400px;
  position: relative;
  z-index: 0;
}

.imgcontainer {
  height: 100%;
  width: 300px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  animation: float 10s ease-in-out infinite;
}

.imgcontainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.imgcontainer img.active {
  display: block;
}

.gauche,
.droite {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  color: var(--texte);
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  transition: transform 0.3s ease;
}

.gauche:hover {
  transform: translateX(-25%);
}
.droite:hover {
  transform: translateX(25%);
}

.gauche {
  left: 10px;
}

.droite {
  right: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 60%;
  padding-left: 7%;
  display: none;
}

.description p {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  text-align: end;
}

.description.descactive {
  display: flex;
}

#mescompetences {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 50px;
  gap: 50px;
}

.competences {
  display: flex;
  flex-direction: row;
  gap: 50px;
  height: 150px;
  width: 80%;
}

#html,
#css,
#js,
#fl,
#pro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  background-color: var(--btnbackground);
  border-radius: 50px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#html:hover {
  i {
    color: #e54c21;
    animation: floatvertical 2s ease-in-out infinite;
  }
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#css:hover {
  i {
    color: #2596be;
    animation: floatvertical 2s ease-in-out infinite;
  }
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#js:hover {
  i {
    color: #f7df1d;
    animation: floatvertical 2s ease-in-out infinite;
  }
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#fl:hover {
  i {
    color: #eb7c37;
    animation: floatvertical 2s ease-in-out infinite;
  }
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#pro:hover {
  i {
    color: #41234c;
    animation: floatvertical 2s ease-in-out infinite;
  }
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#html i,
#css i,
#js i,
#fl i,
#pro i {
  font-size: 5rem;
  color: var(--texte);
}

#mesprojets {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.article {
  width: 500px;
  height: 400px;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
  background-color: var(--btnbackground);
}

.article:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.article img {
  object-fit: cover;
  object-position: top;
  height: 60%;
  width: 100%;
  border-radius: 50px 50px 0 0;
}

h5 {
  color: var(--texte);
  font-size: 2rem;
  margin-bottom: 10px;
}

.contenu_nb {
  margin-top: 10px;
  padding: 0 20px;
}

h6 {
  margin-top: 100px;
  color: var(--texte);
  font-size: 3rem;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.btndownload {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--texte);
  padding: 8px 10px;
  border-radius: 50px;
  margin: 20px 0;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.3s ease;
  background-color: var(--btnbackground);
}

.btndownload:hover {
  box-shadow: 0px 0px 20px 0px rgba(156, 89, 187, 0.8);
}

.btndownload i {
  color: var(--texte);
  padding: 0 10px;
}

.formulaire {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.formulaire label {
  font-size: 1.3rem;
  color: var(--texte);
}

.formulaire input,
.formulaire textarea {
  width: 100%;
  height: 50px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 50px;
  color: var(--texte);
  padding: 10px 20px;
}

.reseaux {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.reseaux a,
.reseaux button {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  border-radius: 50px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  background-color: var(--btnbackground);
  cursor: pointer;
}

.reseaux a i,
.reseaux button i {
  cursor: pointer;
  color: var(--texte);
  font-size: 2rem;
}

#lkdin:hover {
  i {
    color: #0a66c2;
  }
  box-shadow: 0px 0px 20px -5px rgba(10, 102, 194, 1);
}

#github:hover {
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 1);
}

#mail:hover {
  i {
    color: #54656d;
  }
  box-shadow: 0px 0px 20px -5px rgba(84, 101, 109, 1);
}

#mailcopie {
  position: fixed;
  bottom: 100px;
  height: 35px;
  border-radius: 50px;
  padding: 5px 15px;
  box-shadow: 0px 0px 20px 5px rgba(84, 101, 109, 0.8);
  background-color: var(--blanc);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#mailcopie.ok {
  opacity: 1;
  transform: translateY(-20px);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 10px;

  label {
    color: var(--texte);
    display: flex;
    justify-content: center;
  }

  input,
  textarea {
    background-color: var(--btnbackground);
    box-shadow: 0px 0px 10px 5px rgba(46, 46, 46, 0.5);
    border: none;
    border-radius: 50px;
    padding: 5px 20px;
    color: var(--texte);
    max-width: 100%;
    max-height: 178px;
  }
}

footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  p {
    font-size: 1rem;
  }
  a {
    i {
      color: var(--texte);
    }
    border: solid 1px var(--texte);
    border-radius: 50px;
    padding: 10px 10px;
  }
}
/* Animations */

@keyframes reveal {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) rotate(-2deg);
  }
  50% {
    transform: translateY(0) rotate(2deg);
  }
  75% {
    transform: translateY(10px) rotate(-2deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
@keyframes floatvertical {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1250px) {
}
